@{
	Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width"/>
	<title>Вечеринка!</title>
</head>
<body>
	<div>
		<div>
			Встреча людей.<br />
			(ToDo: Доработать страницу)
		</div>
		<a asp-action="RsvpForm">Открыть форму опроса</a>
	</div>
</body>
</html>

