@model IEnumerable<PartyInvitesAspNetCore.Models.GuestResponse>
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Ответы</title>
</head>
<body>
	<h2>Список гостей, согласившихся прийти на вечеринку.</h2>
	<table>
		<thead>
			<tr>
				<th>Имя</th>
				<th>Email</th>
				<th>Номер телефона</th>
			</tr>
		</thead>
		<tbody>
			@foreach (PartyInvitesAspNetCore.Models.GuestResponse r in Model)
			{
				<tr>
					<td>@r.Name</td>
					<td>@r.Email</td>
					<td>@r.Phone</td>
				</tr>
			}
		</tbody>
	</table>
</body>
</html>
