@model PartyInvitesAspNetCore.Models.GuestResponse
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Благодарю</title>
</head>
<body>
	<h1>Благодарю за ответ, товарищ @Model.Name!</h1>
	@if (Model.WillAttend == true)
	{
		@:Хорошо, что ты согласился. Ждём!
	}
	else
	{
		@:Жаль, ну заходи в следующий раз.
	}
	Нажми <a asp-action="ListResponses">сюда</a> чтобы увидеть список гостей.
</body>
</html>